:root {
  /* Color Palette: https://coolors.co/072120-0f4844-25ada6-79e2dc-cdf4f2 */
  --color1: hsl(178, 65%,  8%);
  --color2: hsl(176, 66%, 17%);
  --color3: hsl(177, 65%, 41%);
  --color4: hsl(177, 65%, 68%);
  --color5: hsl(177, 64%, 88%);

  /* Color Palette: https://coolors.co/030303-323232-747474-adadad-f1f1f1 */
  --color-primary:                 rgb(12, 108, 103); /* Slightly darker LightSeaGreen to conform with WCAG */
  --color-primary-light:           hsl(150, 100%, 98%); /*MintCream*/
  --color-primary-light-darker002: hsl(150, 100%, 96%);
  --color-primary-light-darker004: hsl(150, 100%, 94%);
  --color-primary-dark:            hsl(240,63.5%,26.9%); /*MidnightBlue*/
  --color-primary-dark-lighter020: hsl(240,63.5%,46.9%);
  --color-primary-dark-lighter040: hsl(240,63.5%,66.9%);
  --color-secondary-light:         #91FFC8; /* MintCream 20% darker */
  --color-secondary-dark:          #2727AD; /* MidnightBlue 20% lighter */
  --color-secondary-alert:         Crimson;

  --color-body-bg:                 var(--color-primary-light);
  --color-body-fg:                 black;

  --color-link:                    var(--color-primary-dark-lighter020);
  --color-link-hover:              var(--color-primary-dark-lighter040);

  --color-card-bg:                 var(--color-primary-light-darker002);
  --color-card-bg-hover:           var(--color-primary-light-darker004);
  --color-card-border:             var(--color-primary-dark);
  --color-card-dropshadow:         var(--color-primary-dark);

  --color-header-bg:               var(--color3);

  --color-header-active-item-bg:   var(--color-primary-dark);
  --color-header-inactive-item-bg: var(--color-primary-light);
  --color-header-hovered-item:     var(--color-primary-dark);

  --color-header-lang-link:        var(--color-primary-dark);

  --header-logo-height: 60px;

  --transition-time: .1s ease-in;

  --button-padding: 0.5em;

  /* Hamburger and sidebar */
  --sidebar-vertical-padding: 100px;
  --sidebar-gap: 1.5em;
  --hamburger-menu-size: 30px;
  --header-vertical-padding: 10px;
  --hamburger-menu-margin: calc(
      (var(--header-logo-height) + 2*var(--header-vertical-padding) - var(--hamburger-menu-size)) / 2
    );
}

/* Standard CSS reset */
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--color-body-bg);
}

body {
  color: var(--color-body-fg);
  max-width: 960px;
  margin: auto;
}

.bg {
  background-image: url('/images/bg.jpg');
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/*******************************************************************************
 * HEADER
 ******************************************************************************/

header {
  font-size: 18px;
  display: flex;
  flex: grow;
  align-items: center;
  justify-content: space-between;
  padding: var(--header-vertical-padding);
  background-color: var(--color3);
}

header .logo,
header .logo img {
  max-height: var(--header-logo-height);
}

header h1 {
  padding: 0 10px;
  margin: 0;
}

header .hamburger-menu {
  position: absolute;
  top: var(--hamburger-menu-margin);
  right: var(--hamburger-menu-margin);

  width: var(--hamburger-menu-size);
  height: var(--hamburger-menu-size);
  background: linear-gradient(
    to bottom,
    var(--color1)  0%, var(--color1)  20%,
    #0000     20%, #0000      40%,
    var(--color1) 40%, var(--color1)  60%,
    #0000     60%, #0000      80%,
    var(--color1) 80%, var(--color1) 100%
  );
  z-index: 13;

  &:has(input:checked) {
    background: linear-gradient(
      to bottom,
      var(--color5)  0%, var(--color5)  20%,
      #0000     20%, #0000      40%,
      var(--color5) 40%, var(--color5)  60%,
      #0000     60%, #0000      80%,
      var(--color5) 80%, var(--color5) 100%
    );
  }
}

header .hamburger-menu::before,
header .hamburger-menu::after,
header .hamburger-menu input,
header .hamburger-menu {
  display: none;
}

header nav {
  display: flex;
  flex-grow: 1;
  z-index: 12;
}

header nav ul {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  list-style: none;
  align-items: center;
  transition: var(--transition-time);
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li a {
  /*color: var(--color-primary-dark);*/
  background-color: var(--color-header-inactive-item-bg);
  border: 1px solid black;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--button-padding);
}

header nav ul li:hover a {
  color: var(--color-header-hovered-item);
  filter: drop-shadow(8px 8px);
}


header nav ul li a.active {
  color: var(--color-primary-light);
  background-color: var(--color-header-active-item-bg);
}

/* Enable sidebar if small enough */
@media screen and (max-width: 42rem) {
  header .hamburger-menu { display: flex; }

  header nav ul {
    flex-direction: column;
    width: 0%;
    height: calc(100vh - 2*var(--sidebar-vertical-padding));
    overflow: hidden;
    justify-content: initial;
    position: fixed;
    top: 0;
    right: 0;
    padding: var(--sidebar-vertical-padding) 0px;
    margin: 0px;
    gap: var(--sidebar-gap);
    backdrop-filter: blur(10px) brightness(60%);
  }

  header nav ul li {
    width: 50vw;
    background: white;
  }

  header nav ul li a {
    display: block;
    text-align: center;
  }

  /* Enable the sidebar when the hamburger menu is checked */
  header nav:has(+ .hamburger-menu input:checked) ul {
    width: 100%;
  }

  body:has(.hamburger-menu input:checked) {
    overflow: hidden;
  }
}

header .lang-switch a {
  color: var(--color-header-lang-link);
}

/*******************************************************************************
 * End of HEADER
 ******************************************************************************/

/*******************************************************************************
 * EVENT/NEWS LIST
 ******************************************************************************/

.event-list,
.news-list {
  list-style: none;
}


/*******************************************************************************
 * CARD
 ******************************************************************************/

.card {
  border: 2px solid var(--color-card-border);
  padding: 10px;
  border-radius: 15px;
  margin: 15px 0;
  background-color: var(--color-card-bg);
  filter: drop-shadow(4px 4px);
  transition: var(--transition-time);
}

.card:hover {
  background-color: var(--color-card-bg-hover);
  filter: drop-shadow(8px 8px);
}

.card img {
  max-width: 100%;
  max-height: 600px;
}

.card p:has(img) {
  text-align: center;
}

.card table {
  width: 100%;
}

.card table tr td:nth-child(1) {
  text-align: left;
}

.card table tr td:nth-child(2) {
  text-align: right;
}

.card .name {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.card .footer {
  display: grid;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.card .footer .date {
  font-style: italic;
  grid-column: 1;
}

.card .footer .readmore {
  text-align: right;
  grid-column: 2;
}

/*******************************************************************************
 * SINGLE EVENT HEADER (title, metadata, image)
 ******************************************************************************/

.event-header {
  margin: 0;
  border: 1px solid black;
  padding: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: brightness(80%);

  .title {
    display: flex;
    margin: 0;
    padding: 0.5em;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    h1 { padding: 0; margin: 0; }
    img { max-width: 35%; max-height: 150px; }
  }

  .metadata {
    padding: 0.5em;
  }

  h2 {
    padding: 0.5em;
    margin: 0;
    border-bottom: 1px solid black;
  }

  .datetime {
    backdrop-filter: brightness(90%);
    padding: 0.5em;
  }
}

/* Footer and copyright notice */
footer, footer p {
  background-color: var(--color-primary-light);
  bottom: 0;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}
footer p a img {
  max-height = 25px;
  vertical-align: middle;
  height = 25px;
}
footer p a {
  padding: 5px;
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
footer p a:hover {
  transition: 0.2s; -webkit-transition: 0.2s;
}


/*******************************************************************************
 * GENERAL STYLING
 ******************************************************************************/

a {
  color: var(--color-link);
  &:hover { color: var(--color-link-hover); }

  transition: var(--transition-time);
}

article,body > h1,
body > h2,
body > h3,
body > ul {
  padding: 0 1rem;
}

article img,
article p img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 600px;
}

article p:has(img) {
  text-align: center;
}

article table {
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
article table td,
article table th {
  padding: 0.2em;
  border: 1px solid black;
  border-collapse: collapse;
}

video {
  max-width: 100%;
  max-height: 100%;
}

figure {
  text-align: center;
  margin: 0 0 1rem 0;
  figcaption p {
    font-style: italic;
    margin: 0;
  }
}

a img {
  cursor: zoom-in;
}

/*******************************************************************************
 * SHORTCODE: YOUTUBE
 ******************************************************************************/

.yt-link {
  display: flex;
  justify-content: center;
}

.yt-link a {
  display: grid;
  max-width: 100%;
  height: auto;
  width: 480px;
}

.yt-link iframe {
  max-width: 100%;
  height: auto;
  width: 480px;
  aspect-ratio: 16 / 9;
}


.yt-link a img {
  grid-row: 1;
  grid-column: 1;
  height: 100%;
  width: 100%;
}

.yt-link a p {
  grid-row: 1;
  grid-column: 1;
  color: var(--color5);
  text-align: center;
  backdrop-filter: blur(10px);
  height: fit-content;
  width: 90%;
  margin-top: 50%;
  margin-left: auto;
  margin-right: auto;
}

.yt-consent {
  text-align: center;
}

/*******************************************************************************
 * SHORTCODE: BRASAO
 ******************************************************************************/

.brasao {
  display: inline;
  height: 6rem;
  width: 6rem;
  padding: 0.5em;
}

/* SHORTCODE: BRASAO LARGO */
.brasao-largo {
  display: block;
  width: 100%;
  padding: 0.5em;
}

/*******************************************************************************
 * SHORTCODE: BLUR-FIT-BANNER
 ******************************************************************************/

.blur-fit-banner {
  position: relative;
  position: relative; /* We need this for the background image's positioning */
  overflow: hidden; /* We don't want all blurry image to be all visible. Only the part inside the parent. */
  display: flex;
  align-items: center; /* We want our blurry background to be centred */

  .banner-bg {
    filter: blur(8px); /* You can set the blur of background. It's up to you. */
    z-index: -1; /* We want our blurry background to be in the background. */
    position: absolute; /* We want to stack images on top of each other */
    width: 100%; /* We want the background same width as the parent */
  }

  .banner-fg {
    width: 100%; /* We want to make it the same width as the parent because... */
    object-fit: contain; /* when we set it to contain, it will be centred in the middle. */
    max-height: 340px; /* You can set this however you like. Your image may be wide or tall but it will always be at most this threshold. At this point, our blurry background starts to become visible. */
  }
}
